/////////////////////////////////////////////////////////////////////////////
// Name:        samples/samples.rc
// Purpose:     a standard MSW .rc file for the wxWidgets samples
// Author:      Vadim Zeitlin
// Modified by:
// Created:     04.08.03
// Copyright:   (c) 2003 Vadim Zeitlin <vadim@wxwidgets.org>
// Licence:     wxWindows licence
/////////////////////////////////////////////////////////////////////////////

// this minimal resource file is all what is needed for most of the wxWidgets
// samples

// note that the icon used by the Explorer (i.e. the programs icon) is the
// first icon in the executable and the icons are sorted both by their order
// and alphabetically (!), so put this icon first and give it a name
// starting with "a"
app_icon ICON "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/app_icon.ico"
transport_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/transport_icon.png"
disconnect_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/disconnect_icon.png"
error_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/error_icon.png"
list_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/list_icon.png"
map_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/map_icon.png"
pencil_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/pencil_icon.png"
reset_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/reset_icon.png"
plus_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/plus_icon.png"
position_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/position_icon.png"
question_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/question_icon.png"
info_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/info_icon.png"
trash_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/trash_icon.png"
warning_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/warning_icon.png"
splash_icon RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/splash_icon.gif"
splash_icon_png RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/splash_icon_png.png"
jolly_rogers RCDATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/jolly_rogers.png"


// this icon is used with wxFrame::SetIcon()
sample ICON  "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Images/Light/app_icon.ico"

// set this to 1 if you don't want to use manifest resource provided by wxWidgets.
// An aplication manifest is needed for the application UI to look properly and other
// things - see docs/msw/winxp.md for more information)
#define wxUSE_NO_MANIFEST 0

// to enable full High DPI suppport, we need to opt in into Per-Monitor (V2) DPI awareness,
// see section Issues/MSW in programming guide High DPI Support in wxWidgets
#ifndef wxUSE_DPI_AWARE_MANIFEST
#define wxUSE_DPI_AWARE_MANIFEST 2
#endif

// this file contains the standard icons, cursors etc. and also includes the application
// manifest mentioned above
#include "wx\msw\wx.rc"

init DATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Data/init.txt"
sample_sight DATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Data/sample_sight.nav"
paris_sights DATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Data/paris_sights.nav"
catalog DATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Data/catalog.txt"
j2000_to_itrf93	DATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Data/j2000_to_itrf93.txt"
jupiter	DATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Data/jupiter.txt"
polygons DATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Data/polygons.dat"
moon DATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Data/moon.txt"
n_line_map_conv_blocked	DATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Data/n_line_map_conv_blocked.txt"
saturn DATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Data/saturn.txt"
sun	DATA "C:/Mac/Home/Documents/thelemacus/Contents/Resources/Data/sun.txt"


